<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <p>{{artwork.title}}</p>
    </h2>
    {{#if artwork.image_url}}
    <img src="{{artwork.image_url}}" alt="artwork thumbnail">
    {{!-- {{else}}
    <a href="/api/artwork/{{id}}"><img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" id="profile-placeholder" alt="placeholder-image" width="100" height="100"></a> --}}
    {{/if}}
    <p>Created by <a href="/api/profile/{{artwork.user.id}}">{{artwork.user.name}}</a></p>
  </div>
  <div class="col-md-7">
    <p>
      {{artwork.description}}
    </p>
  </div>
  <div>
    <form id="comment-form" action="/api/artwork/comment" method="POST">
      <label for="comment-box">Add your critique</label>
      <textarea id="comment-box" name="comment-box" placeholder="hit me with your best shot..."></textarea>
      <button type="submit">submit</button>
    </form>
    <div>
      <h4>Critiques</h4>
      {{#each comment }}
        <p>{{comment.text}}</p>
      {{/each}}
    </div>
  </div>
</div>

<script src="/js/comment.js"></script>