{{#each artwork}}
  <div class="artwork">
    <h2>{{title}}</h2>
    <p>Description: {{description}}</p>
    <p>Media: {{media}}</p>
    <p>Created by: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
  </div>
{{/each}}